# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\AI_code\SecondaryLightweight\mobile_theseus_collaborative\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
